<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.2.js"></script>
<div class="container-fluid">
  <div class="row">


    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <h1>Dashboard</h1>



      <h2>Section title</h2>
<!------------------------------------------------------------------------------------------>

      <div class="row">
        <div id="doughnut_0" class="chartOverView">
          <div  style="display: block">
            <canvas id="doughnut-chart_0" width="300" height="250"></canvas>
          </div>
          <button class="random">Update</button>
        </div>
        <div id="doughnut_1" class="chartOverView">
          <div  style="display: block">
            <canvas id="doughnut-chart_1" width="300" height="250"></canvas>
          </div>
          <button class="random">Update</button>
        </div>
        <div id="doughnut_2" class="chartOverView">
          <div  style="display: block">
            <canvas id="doughnut-chart_2" width="300" height="250"></canvas>
          </div>
          <button class="random">Update</button>
        </div>
        <div id="doughnut_3" class="chartOverView">
          <div  style="display: block">
            <canvas id="doughnut-chart_3" width="300" height="250"></canvas>
          </div>
          <button class="random">Update</button>
        </div>
      </div>




    </main>
  </div>
</div>