
<div class="container">
  <div class="row">


    <main class="col-sm-12 ml-sm-auto col-md-12 pt-4" role="main">
      <button class="btn btn-secondary" id="back" onclick="goBack()" style="float:left;"> Overview</button>
<!------------------------------------------------------------------------------------------>
      <div class="container jumbotron">

        <div id="overview">
          <h2>Overview</h2>
          <div class="row">
            <div class="col-md-4">
              <div id="doughnut_1" class="chartOverView" >
                <div  style="display: block">
                  <canvas id="doughnut-chart_1" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="doughnut_2" class="chartOverView" >
                <div  style="display: block">
                  <canvas id="doughnut-chart_2" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="genderOverview_0" class="chartOverView" >
                <div  style="display: block">
                  <canvas id="genderOverview-chart_0" width="350" height="450"></canvas>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div id="doughnut_0" class="chartOverView">
                <div  style="display: block">
                  <canvas id="terminationChart" width="350" height="450"></canvas>
                </div>
              </div>
            </div>

          </div>
        </div>



        <div id="locations">
          <h2>Employee Retention For Locations And Divisions</h2>
          <div class="row">
            <div class="col-md-4">
              <div id="location_0" class="chartOverView">
                <div  style="display: block">
                  <canvas id="location-chart_0" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="location_1" class="chartOverView" >
                <div  style="display: block">
                  <canvas id="location-chart_1" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="location_2" class="chartOverView" >
                <div  style="display: block">
                  <canvas id="location-chart_2" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="positions">
          <h2>Interior</h2>
          <div class="row">
            <div class="col-md-4">
              <div id="salary_0" class="chartOverView">
                <div  style="display: block">
                  <canvas id="salary-chart_0" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="gender_0" class="chartOverView" >
                <div  style="display: block">
                  <canvas id="gender-chart_0" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
          </div>
          <h2>Tires</h2>
          <div class="row">
            <div class="col-md-4">
              <div id="salary_1" class="chartOverView">
                <div  style="display: block">
                  <canvas id="salary-chart_1" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="gender_1" class="chartOverView" >
                <div  style="display: block">
                  <canvas id="gender-chart_1" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
          </div>
          <h2>Chassis & Safety</h2>
          <div class="row">
            <div class="col-md-4">
              <div id="salary_2" class="chartOverView">
                <div  style="display: block">
                  <canvas id="salary-chart_2" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="gender_2" class="chartOverView" >
                <div  style="display: block">
                  <canvas id="gender-chart_2" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div id="age">
          <h2>Terminated Employees By Age</h2>
          <div class="row">
            <div class="col-md-4">
              <div id="femaleAgeBar" class="chartOverView">
                <div  style="display: block">
                  <canvas id="femaleAge" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="maleAgeBar" class="chartOverView">
                <div  style="display: block">
                  <canvas id="maleAge" width="350" height="450"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>


    </main>
  </div>
</div>
